# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# Eclipse
.project
.classpath
.settings/
bin/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
*.iml
.idea/
*.ipr
*.iws

# Environment files
.env

# Others
*.swp
